<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!--      layout:decorate="template1">-->
<head>
    <meta charset="UTF-8" >
    <title>Savings Investment Record</title>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css">

</head>
<body>
<div layout:fragment="content">

    <div class="container mt-2 pre-scrollable">
        <div class="container">
            <h1>Projected table of customer number <span th:text="${account.customerNumber}"></span></h1>
            <h1>Name: <span th:text="${account.customerName}"></span></h1>
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Year</th>
                    <th>Starting Amount</th>
                    <th>Interest</th>
                    <th>Ending Balance</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="proj : ${projections}">
                    <td th:text="${proj.year}"></td>
                    <td th:text="${proj.startingAmount}"></td>
                    <td th:text="${proj.interest}"></td>
                    <td th:text="${proj.endingBalance}"></td>
                </tr>
                </tbody>
            </table>
            <a href="/" class="btn btn-light">Submit</a>
        </div>

    </div>
</div>
</body>
</html>
